:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-gray: hsl(0, 0%, 59%);
    --font-kumba-sans: 'Kumbh Sans', sans-serif;
    --body-text: 15px;
    --font-size-main: font-size: 18px;
    --fontWt-med: 400;
    --fontWt-bold: 700;
}

/* ************** --------------- Resets ---------------- ************** */
/* ----- Reset: Box sizing ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ----- Reset: Remove default margins ----- */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* ----- Reset: Make fluid images easier to work with ----- */
img,
picture {
    max-width: 100%;
    display: block;
  }
/* ----- Reset: Accesibility: Allows animation/transition motion for those affected by it ----- */  
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}  
/* **** ----- Reset: END ----- **** */

/* ----- Main Styles ----- */
body  {
    background-color:var(--dark-cyan);
}
.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image:
    url('images/bg-pattern-top.svg'),
    url('images/bg-pattern-bottom.svg');
    background-position:
    top -38rem left -48rem,
    bottom -38rem right -48rem;
    background-repeat: no-repeat;
} 


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url('images/bg-pattern-card.svg');
    background-position: 0px -9px;
    background-repeat: no-repeat;
    width: 300px;
    height: 325px;
    padding: 25px;
    margin: 0 20px;
    border-radius: 14px;

}
.profile-pic {
    border: solid 6px white;
    border-radius: 50%;
    width: 6.5rem;
}
.stats {
    display: flex;
    justify-content: center;
}

/* ----- Footer Styles ----- */
footer {
    position: absolute;
    bottom: 16px;
}
.attribution { font-size: 11px; text-align: center; padding-top: 35px }
.attribution a { color: hsl(228, 45%, 44%); }

/* ----- Media Queries ----- */
